.postInteractions{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.interactionIcons{
    display: flex;
    align-items: center;
    gap:8px;
}

.postInteractions button{
    color:white;
    background-color: #e50828;
    border-radius: 24px;
    border:none;
    padding: 10px;
    font-weight:bold;
    cursor:pointer;
}